In [7]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [18]:
X = [[0, 2, 0, 3], [0, 1, 4, 3], [0, 1, 1, 3]]

In [24]:
df_X = pd.DataFrame(X,columns=['X1','X2','X3','X4'])
df_X

   X1  X2  X3  X4
0   0   2   0   3
1   0   1   4   3
2   0   1   1   3

In [20]:
df_X.var()

0    0.000000
1    0.333333
2    4.333333
3    0.000000
dtype: float64

# Feature Selection

In [16]:
"""
Menghapus variabel atau feature yang variance >= 0
"""
selector = VarianceThreshold()
df_result = selector.fit_transform(X)
pd.DataFrame(df_result)

   0  1
0  2  0
1  1  4
2  1  1

In [21]:
"""
Menghapus variabel atau feature yang variance >= 0.5. Dapat terlihat bahwa hanya variabel X4
yang terpilih.
"""
selector = VarianceThreshold(threshold=0.5)
df_result = selector.fit_transform(X)
pd.DataFrame(df_result)

   0
0  0
1  4
2  1