# Recursive Feature Elimination
Sesuai dengan namanya, metode ini meng-eliminasi variabel secara rekursif menggunakan algoritma machine learning tertentu (misal Random Forest)

In [6]:
import pandas as pd
from sklearn.datasets import make_friedman1
from sklearn.feature_selection import RFE
from sklearn.svm import SVR

## 1. Dataset

In [3]:
X, y = make_friedman1(n_samples=50, n_features=10, random_state=0)

In [4]:
X.shape

(50, 10)

In [25]:
nama_kolom = ['feature'+str(k) for k in range(X.shape[1])]

In [26]:
"""
Kita punya 10 variabel 
"""
df_x = pd.DataFrame(X,columns=nama_kolom)
df_x.head()

,feature0,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9
0,0.548814,0.715189,0.602763,0.544883,0.423655,0.645894,0.437587,0.891773,0.963663,0.383442
1,0.791725,0.528895,0.568045,0.925597,0.071036,0.087129,0.020218,0.832620,0.778157,0.870012
2,0.978618,0.799159,0.461479,0.780529,0.118274,0.639921,0.143353,0.944669,0.521848,0.414662
3,0.264556,0.774234,0.456150,0.568434,0.018790,0.617635,0.612096,0.616934,0.943748,0.681820
4,0.359508,0.437032,0.697631,0.060225,0.666767,0.670638,0.210383,0.128926,0.315428,0.363711

## 2. RFE
Kali ini digunakan Support Vector Machine untuk alat eliminasi variabel.

In [57]:
"""
Dari 10 variabel, akan dipilih 3 variabel terbaik
"""
estimator = SVR(kernel="linear")
selector = RFE(estimator, n_features_to_select=3, step=1)
selector = selector.fit(X, y)

In [49]:
selector.support_

array([False,  True, False,  True,  True, False, False, False, False,
       False])

In [50]:
range(len(selector.support_))

range(0, 10)

In [51]:
selector.ranking_

array([2, 1, 3, 1, 1, 8, 6, 5, 4, 7])

## 3. Collect Remaining Feature

In [53]:
"""
feature-feature yang akan di keep
"""
keep_feature = [k for k in range(len(selector.support_)) if selector.support_[k]]
keep_feature

[1, 3, 4]

In [56]:
df_keep = df_x.iloc[:,keep_feature]
df_keep.head()

   feature1  feature3  feature4
0  0.715189  0.544883  0.423655
1  0.528895  0.925597  0.071036
2  0.799159  0.780529  0.118274
3  0.774234  0.568434  0.018790
4  0.437032  0.060225  0.666767

## Refference
- https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html
- https://www.researchgate.net/figure/A-flowchart-explaining-the-steps-involved-in-the-RFE-algorithm-in-detail_fig3_348934346
- https://www.youtube.com/watch?v=jXSw6em5whI
- https://machinelearningmastery.com/rfe-feature-selection-in-python/